# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
.devcontainer/TestVault/.obsidian/workspace.json
.devcontainer/.config/obsidian/*
!.devcontainer/.config/obsidian/93a17b9caafc31d7.json
!.devcontainer/.config/obsidian/obsidian.json